@model OffshoreTrack.Models.Material
@{
    ViewData["Title"]="Edit";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Editar: Material</h1>
        </div>

        <div class="col-md-6">
            <div class="d-grid gap-2d-md-flex justify-content-md-end">
                <a class="btn btn-primary"role="button"asp-area=""asp-controller="Material"asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form method="post" asp-action="Update" enctype="multipart/form-data">
                    <input type="hidden" asp-for="id_material" />

                    <label for="inputText" class="col-sm col-form-label">Material:</label>
                    <input type="text" class="form-control" id="material" name="material" asp-for="material" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">Descrição:</label>
                    <textarea type="text" rows="3" class="form-control" id="descricao" name="descricao" asp-for="descricao" ></textarea>
                    <br />

                    <label for="inputText" class="col-sm col-form-label">Número de Série:</label>
                    <input type="text" class="form-control" id="numeroSerie" name="numeroSerie" asp-for="numeroSerie" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">Tamanho:</label>
                    <input type="text" class="form-control" id="tamanho" name="tamanho" asp-for="tamanho" />
                    <br />

                    
                    <!-- Selects -->
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_tipo" class="col-form-label">Tipo:</label>
                                <select asp-for="id_tipo" class="form-control" asp-items="@ViewBag.tipo"></select>
                                <span asp-validation-for="id_tipo" class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_criticidade" class="col-form-label">Criticidade:</label>
                                <select asp-for="id_criticidade" class="form-control" asp-items="@ViewBag.criticidade"></select>
                                <span asp-validation-for="id_criticidade" class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_setor" class="col-form-label">Setor:</label>
                                <select asp-for="id_setor" class="form-control" asp-items="@ViewBag.setor"></select>
                                <span asp-validation-for="id_setor" class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_cliente" class="col-form-label">Cliente:</label>
                                <select asp-for="id_cliente" class="form-control" asp-items="@ViewBag.cliente"></select>
                                <span asp-validation-for="id_cliente" class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_local" class="col-form-label">Local:</label>
                                <select asp-for="id_local" class="form-control" asp-items="@ViewBag.local"></select>
                                <span asp-validation-for="id_local" class="text-danger"></span>
                            </div>
                            <br />
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_usuario" class="col-form-label">Usuário:</label>
                                <select asp-for="id_usuario" class="form-control" asp-items="@ViewBag.usuario"></select>
                                <span asp-validation-for="id_usuario" class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor" class="col-form-label">Fornecedor:</label>
                                <select asp-for="id_fornecedor" class="form-control" asp-items="@ViewBag.fornecedor"></select>
                                <span asp-validation-for="id_fornecedor" class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                    </div>

                    <label for="anexo" class="form-label">Anexos:</label>
                    <input type="file" id="anexoFile" name="anexoFile" class="form-control">
                    <input type="hidden" asp-for="anexo" />
                    <br>
                    @if(Model.anexo != null && Model.anexo.Length > 0)
                    {    
                        <a class="btn btn-outline-secondary" href="@Url.Action("DownloadAnexo", "Manutencao", new { id = Model.id_manutencao })">Baixar Anexo atual</a>
                        <br>
                    }
                    else
                    {
                        <p>Sem Anexo</p>
                    }
                    <br>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-success" name="submit" value="submit">Atualizar</button>
                </form>
                <form method="post"action="/Material/Delete">
                    <input type="hidden"asp-for="id_material"/>
                    <button type="submit"class="btn btn-danger">Deletar</button>
                </form>
                    </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function printQRCode() {
            var qrCode = document.querySelector('img');  
            var newWindow = window.open('', '_blank');
            newWindow.document.write(qrCode.outerHTML);
            newWindow.document.close();
            newWindow.print();
        }
    </script>

}
