@model OffshoreTrack.Models.Material

@{
    ViewData["Title"] = "New";
}

<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Material</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="Create">

                    <label for="inputText" class="col-sm col-form-label">Material:</label>
                    <input type="text" class="form-control" id="material" name="material" asp-for="material" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" asp-for="descricao" />
                    <br />

                    <label for="inputText" class="col-sm col-form-label">Tamanho:</label>
                    <input type="text" class="form-control" id="tamanho" name="tamanho" asp-for="tamanho" />
                    <br />


                    <div class="form-group">
                        <label asp-for="id_tipo" class="col-sm col-form-label">Tipo:</label>
                        <select asp-for="id_tipo" class="form-control" asp-items="@ViewBag.tipo"></select>
                        <span asp-validation-for="id_tipo" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_criticidade" class="col-sm col-form-label">Criticidade:</label>
                        <select asp-for="id_criticidade" class="form-control" asp-items="@ViewBag.criticidade"></select>
                        <span asp-validation-for="id_criticidade" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_setor" class="col-sm col-form-label">Setor:</label>
                        <select asp-for="id_setor" class="form-control" asp-items="@ViewBag.setor"></select>
                        <span asp-validation-for="id_setor" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_cliente" class="col-sm col-form-label">Cliente:</label>
                        <select asp-for="id_cliente" class="form-control" asp-items="@ViewBag.cliente"></select>
                        <span asp-validation-for="id_cliente" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_local" class="col-sm col-form-label">Local:</label>
                        <select asp-for="id_local" class="form-control" asp-items="@ViewBag.local"></select>
                        <span asp-validation-for="id_local" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_usuario" class="col-sm col-form-label">Usuário:</label>
                        <select asp-for="id_usuario" class="form-control" asp-items="@ViewBag.usuario"></select>
                        <span asp-validation-for="id_usuario" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_fornecedor" class="col-sm col-form-label">Fornecedor:</label>
                        <select asp-for="id_fornecedor" class="form-control" asp-items="@ViewBag.fornecedor"></select>
                        <span asp-validation-for="id_fornecedor" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="anexo" class="col-sm col-form-label">Anexo:</label>
                        <input class="form-control" type="file" id="anexo">
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="cod_barra" class="col-sm col-form-label">Código de barras:</label>
                        <input type="text" class="form-control" id="cod_barra" asp-for="cod_barra" />
                        <svg id="barcode"></svg>
                    </div>
                    <br />
                    <button onclick="printBarcode()" class="btn btn-primary">Imprimir Código de Barras</button>

                    <br />
                    <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.3/dist/JsBarcode.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#cod_barra').change(function(){
                var value = $(this).val();
                $('#barcodeTarget').html(""); //clear the barcode target
                JsBarcode("#barcodeTarget", value, {format: "CODE128"}); //generate the barcode
            });
        });
        function printBarcode() {
            var printWindow = window.open('', '_blank');
            var barcodeSVG = $('#barcodeTarget').html();
            printWindow.document.write('<html><head><title>Print Barcode</title></head><body>');
            printWindow.document.write(barcodeSVG);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }
    </script>
}
