@model OffshoreTrack.Models.Empresa
@{
ViewData["Title"]="Edit";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Atualização da Empresa</h1>
        </div>

        <div class="col-md-6">
            <div class="d-grid gap-2d-md-flex justify-content-md-end">
                <a class="btn btn-primary"role="button"asp-area=""asp-controller="Home"asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="Update" enctype="multipart/form-data">
                    <input type="hidden" asp-for="id_empresa" />

                    <div class="col-sm-12">
                        <label for="inputText" class="col-sm col-form-label">Nome da Empresa:</label>
                        <input type="text" class="form-control" id="empresa" name="empresa" value="@Model.empresa" required>
                    </div>

                    <div class="col-sm-12">
                        <label for="inputText" class="col-sm col-form-label">Razão Social:</label>
                        <input type="text" class="form-control" id="razaoSocialEmpresa" name="razaoSocialEmpresa" value="@Model.razaoSocialEmpresa" required>
                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                            <label for="inputText" class="col-sm col-form-label">CNPJ:</label>
                            <input type="text" class="form-control" id="cnpjEmpresa" name="cnpjEmpresa" value="@Model.cnpjEmpresa" required>
                        </div>

                        <div class="col-sm-4">
                            <label for="inputText" class="col-sm col-form-label">Inscrição Estadual:</label>
                            <input type="text" class="form-control" id="inscricaoEstadualEmpresa" name="inscricaoEstadualEmpresa" value="@Model.inscricaoEstadualEmpresa" required>
                        </div>

                        <div class="col-sm-4">
                            <label for="inputText" class="col-sm col-form-label">Inscrição Municipal:</label>
                            <input type="text" class="form-control" id="inscricaoMunicipalEmpresa" name="inscricaoMunicipalEmpresa" value="@Model.inscricaoMunicipalEmpresa">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <label for="inputText" class="col-sm col-form-label">Rua:</label>
                            <input type="text" class="form-control" id="ruaEmpresa" name="ruaEmpresa" required>
                        </div>

                        <div class="col-sm-5">
                            <label for="inputText" class="col-sm col-form-label">Bairro:</label>
                            <input type="text" class="form-control" id="bairroEmpresa" name="bairroEmpresa" required>
                        </div>
                        <div class="col-sm-2">
                            <label for="inputText" class="col-sm col-form-label">Número:</label>
                            <input type="text" class="form-control" id="numeroEmpresa" name="numeroEmpresa" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="inputText" class="col-sm col-form-label">CEP:</label>
                            <input type="text" class="form-control" id="cepEmpresa" name="cepEmpresa" required>
                        </div>
                        <div class="col-sm-6">
                            <label for="inputText" class="col-sm col-form-label">Cidade:</label>
                            <input type="text" class="form-control" id="cidadeEmpresa" name="cidadeEmpresa"required>
                        </div>
                        <div class="col-sm-2">
                            <label for="inputText" class="col-sm col-form-label">Estado:</label>
                            <input type="text" class="form-control" id="estadoEmpresa" name="estadoEmpresa" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label for="inputText" class="col-sm col-form-label">Endereço:</label>
                        <input type="text" class="form-control" id="enderecoEmpresa" name="enderecoEmpresa" value="@Model.enderecoEmpresa" readonly>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <label for="inputText" class="col-sm col-form-label">Telefone:</label>
                                <span><div class="form-text">Exemplo: (xx) xxxxx-xxxx</div></span>
                            </div>
                            <input type="text" class="form-control" id="telefoneEmpresa" name="telefoneEmpresa" value="@Model.telefoneEmpresa" required>
                        </div>
                        <div class="col-sm-6">
                            <label for="inputText" class="col-sm col-form-label">E-mail:</label>
                            <input type="email" class="form-control" id="emailEmpresa" name="emailEmpresa" value="@Model.emailEmpresa" required>
                        </div>
                     </div>
                     <br>

                    <div class="col-sm-12">
                        <label for="responsavelEmpresa">Responsável pelas Informações:</label>
                        <input type="text" class="form-control" id="responsavelEmpresa" name="responsavelEmpresa" value="@Model.responsavelEmpresa" required>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="responsavelEmpresa">Logo da Empresa:</label>
                            <input type="file" class="form-control" id="logoEmpresa" name="logoEmpresa" accept=".png, .jpg, .jpeg">
                        </div>
                        <div class="col-sm-6">
                            <img id="logoPreview" src="#" alt="Logo da Empresa" style="max-width: 100%; max-height: 150px;">
                        </div>
                    </div>


                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Salvar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script type="text/javascript">

        //Mascaras
        $(document).ready(function(){
            $('#cnpjEmpresa').mask('00.000.000/0000-00');
            $('#cepEmpresa').mask('00000-000');
            $('#telefoneEmpresa').mask('(00) 00000-0000');
        });
       
        //Concatenando Endereço
        $(document).ready(function() {
        // Manipular os campos do endereço em tempo real
        $('#ruaEmpresa, #bairroEmpresa, #numeroEmpresa, #cepEmpresa, #cidadeEmpresa, #estadoEmpresa').on('input', function() {
            var rua = $('#ruaEmpresa').val();
            var bairro = $('#bairroEmpresa').val();
            var numero = $('#numeroEmpresa').val();
            var cep = $('#cepEmpresa').val();
            var cidade = $('#cidadeEmpresa').val();
            var estado = $('#estadoEmpresa').val();

            var endereco = rua + ', ' + numero + ', ' + bairro + ', ' + cep + ', ' + cidade + ', ' + estado;

            $('#enderecoEmpresa').val(endereco);
        });
    });

    //Preview da Logo
    document.getElementById("logoEmpresa").addEventListener("change", function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById("logoPreview").src = e.target.result;
        };
        reader.readAsDataURL(file);
    });

    </script>
    
}
