@model OffshoreTrack.Models.OrdemCompra

@{
    ViewData["Title"] = "New";
}

<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Ordem de Compra</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="Create" enctype="multipart/form-data">
                    
                    <!-- Definicao de Moeda -->
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="moeda" for="inputText" class="col-sm col-form-label">Definição de Moeda da Ordem de Compra:</label>
                            <select class="form-select" id="moedaSelect" asp-for="moeda">
                                <option value="R$">R$ - BRL</option>
                                <option value="$">US$ - USD</option>
                                <option value="€">EUR$ - EUR</option>
                            </select>
                        </div>
                    </div>
                    <!-- Fim - Definicao de Moeda -->

                    <div class="row">
                        <div class="col-sm-9">
                            <label for="inputText" class="col-sm col-form-label">Ordem de Compra:</label>
                            <input type="text" class="form-control" id="oc" name="oc" asp-for="oc" />
                            <br />
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="prioridade" class="col-sm col-form-label">Prioridade:</label>
                                <select class="form-select" asp-for="prioridade">
                                    <option value="Baixa">Baixa</option>
                                    <option value="Média">Média</option>
                                    <option value="Alta">Alta</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Observação:</label>
                            <textarea type="text" rows="3" class="form-control" id="observacao" name="observacao" asp-for="observacao" ></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Data:</label>
                            <input type="date" class="form-control" id="data_oc" name="data_oc" asp-for="data_oc" value="@(Model.data_oc?.ToString("yyyy-MM-dd"))" readonly/>
                        </div>
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Data prevista:</label>
                            <input type="date" class="form-control" id="data_prevista" name="data_prevista" asp-for="data_prevista" />
                        </div>
                    </div>
                    <hr>


                    <h5>Itens</h5>
                    <button class="btn btn-primary" type="button" id="btnAdicionarItem"><i class="bi bi-plus"></i> Adicionar Item</button>

                    <div id="itensContainer">
                        <!-- Campos de item existentes aqui -->
                    </div>
                    <br>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <h5>Total: </h5>
                        <p><span id="moeda" class="moeda"></span><span id="displayTotal">0</span></p>
                    </div>


                    <br>
                    <hr>
                    <h5>Fornecedor</h5>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor" class="col-sm col-form-label">Fornecedor Principal:</label>
                                <select asp-for="id_fornecedor" class="form-control" asp-items="@ViewBag.fornecedor"></select>
                                <div class="form-text"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor2" class="col-sm col-form-label">Fornecedor 2: </label>
                                <select asp-for="id_fornecedor2" class="form-control" asp-items="@ViewBag.fornecedor2"></select>
                                <div class="form-text">O fornecedor escolhido será a 2º opção.</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor3" class="col-sm col-form-label">Fornecedor 3:</label>
                                <select asp-for="id_fornecedor3" class="form-control" asp-items="@ViewBag.fornecedor3"></select>
                                <div class="form-text">O fornecedor escolhido será a 3º opção.</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_setor" class="col-sm col-form-label">Setor Solicitante:</label>
                            <select asp-for="id_setor" class="form-control" asp-items="@ViewBag.setor"></select>
                        </div>
                    </div>
                    <br>

                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_formaPagamento" class="col-sm col-form-label">Forma de Pagamento:</label>
                            <select asp-for="id_formaPagamento" class="form-control" asp-items="@ViewBag.formaPagamento"></select>
                        </div>
                    </div>
                    <br>


                    <div class="form-group">
                        <label for="anexo" class="form-label">Anexar arquivo:</label>
                        <input class="form-control" type="file" id="anexoFile" name="anexoFile">
                    </div>
                    <br />
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var moeda = $('#moedaSelect').val();
            $('.moeda').text(moeda);

            $('#moedaSelect').on('change', function () {
                moeda = $(this).val();
                $('.moeda').text(moeda);
                $('.item-moeda').text(moeda);
            });

            $(document).on('input', '.valor', function () {
                var value = $(this).val();
                value = removeExtraDots(value);
                value = value.replace(/[^0-9.]/g, '');
                $(this).val(value);
                calcularTotal();
            });

            function removeExtraDots(value) {
                var count = value.split('.').length - 1;
                if (count > 1) {
                    var lastDot = value.lastIndexOf('.');
                    value = value.slice(0, lastDot) + value.slice(lastDot + 1);
                }
                return value;
            }

            // Evento de mudança na quantidade
            $(document).on('input', '.quantidade', function () {
                var quantidade = parseInt($(this).val()) || 0;
                var index = $(this).data('index');
                var valorUnitario = parseFloat($('#valor_' + index).val()) || 0;
                var subtotal = quantidade * valorUnitario;
                $('#subtotal_' + index).text(subtotal.toFixed(2));
                calcularTotal();
            });
/*
        document.getElementById('btnAdicionarItem').addEventListener('click', function () 
        {
            var ordemCompraItems = document.getElementById('itensContainer');
            var index = ordemCompraItems.children.length;

            var itemInput = document.createElement('input');
            itemInput.name = 'Itens[' + index + '].item';
            ordemCompraItems.appendChild(itemInput);

            var valorInput = document.createElement('input');
            valorInput.name = 'Itens[' + index + '].valor';
            ordemCompraItems.appendChild(valorInput);

            var quantidadeInput = document.createElement('input');
            quantidadeInput.name = 'Itens[' + index + '].quantidade';
            ordemCompraItems.appendChild(quantidadeInput);
        });
*/
    var itemIndex = 0;

    document.getElementById('btnAdicionarItem').addEventListener('click', function () {
        var ordemCompraItems = document.getElementById('itensContainer');

        var itemRow = document.createElement('div');
        itemRow.id = "itemRow" + itemIndex;
        itemRow.classList.add("row"); // Para estilização

        var itemInput = document.createElement('input');
        itemInput.id = 'items[' + itemIndex + '].item';
        itemInput.name = 'Itens[' + itemIndex + '].item';
        itemRow.appendChild(itemInput);

        var valorInput = document.createElement('input');
        valorInput.id = 'items[' + itemIndex + '].valor';
        valorInput.name = 'Itens[' + itemIndex + '].valor';
        itemRow.appendChild(valorInput);

        var quantidadeInput = document.createElement('input');
        quantidadeInput.id = 'items[' + itemIndex + '].quantidade';
        quantidadeInput.name = 'Itens[' + itemIndex + '].quantidade';
        itemRow.appendChild(quantidadeInput);

        var subtotalDisplay = document.createElement('span');
        subtotalDisplay.id = 'subtotal_' + itemIndex;
        itemRow.appendChild(subtotalDisplay);

        ordemCompraItems.appendChild(itemRow);

        itemIndex++; // Incrementa o índice para o próximo item
    });



            // Função para calcular o total
            function calcularTotal() {
                var total = 0;
                // Percorrer cada item e calcular o subtotal
                $('.row[id^="itemRow"]').each(function () {
                    var index = $(this).attr('id').replace('itemRow', '');
                    var quantidade = parseInt($('#items\\[' + index + '\\]\\.quantidade').val()) || 0;
                    var valorUnitario = parseFloat($('#items\\[' + index + '\\]\\.valor').val()) || 0;
                    var subtotal = quantidade * valorUnitario;
                    $('#subtotal_' + index).text(subtotal.toFixed(2));
                    total += subtotal;
                });
                // Atualizar o valor total no formulário
                $('#total').val(total.toFixed(2));
                // Exibir o total
                $('#displayTotal').text(total.toFixed(2));
            }

        });
    </script>
}