@model OffshoreTrack.Models.OrdemCompra

@{
    ViewData["Title"] = "New";
}

<div class="pagetitle">
    <h1 class="display-4"> Cadastrar: Ordem de Compra</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="Create" enctype="multipart/form-data">
                    
                    <!-- Definicao de Moeda -->
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="id_moeda" class="col-sm col-form-label">Moeda: </label>
                            <select id="moedaSelect" asp-for="id_moeda" class="form-control">
                                @foreach (var moeda in ViewBag.moedas)
                                {
                                    <option value="@moeda.id_moeda" data-simbolo="@moeda.simbolo">@moeda.moeda_descricao</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!-- Fim - Definicao de Moeda -->

                    <div class="row">
                        <div class="col-sm-9">
                            <label for="inputText" class="col-sm col-form-label">Ordem de Compra:</label>
                            <input type="text" class="form-control" id="oc" name="oc" asp-for="oc" />
                            <br />
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="prioridade" class="col-sm col-form-label">Prioridade:</label>
                                <select class="form-select" asp-for="prioridade">
                                    <option value="Baixa">Baixa</option>
                                    <option value="Média">Média</option>
                                    <option value="Alta">Alta</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Observação:</label>
                            <textarea type="text" rows="3" class="form-control" id="observacao" name="observacao" asp-for="observacao"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Data:</label>
                            <input type="date" class="form-control" id="data_oc" name="data_oc" asp-for="data_oc" value="@(Model.data_oc?.ToString("yyyy-MM-dd"))" readonly/>
                        </div>
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Data prevista:</label>
                            <input type="date" class="form-control" id="data_prevista" name="data_prevista" asp-for="data_prevista" />
                        </div>
                    </div>
                    <hr>


                    <h5>Itens</h5>
                    <button class="btn btn-primary" type="button" id="btnAdicionarItem"><i class="bi bi-plus"></i> Adicionar Item</button>

                    <div id="itensContainer">
                        <!-- Campos de item existentes aqui -->
                    </div>
                    <br>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <h5>Total: </h5>
                        <p>
                            <p id="moedaSimbolo"></p>
                            <span id="displayTotal">0</span>
                        </p>
                        <input type="hidden" id="total" name="total">
                    </div>


                    <br>
                    <hr>
                    <h5>Fornecedor</h5>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor" class="col-sm col-form-label">Fornecedor Principal:</label>
                                <select asp-for="id_fornecedor" class="form-control" asp-items="@ViewBag.fornecedor"></select>
                                <div class="form-text"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor2" class="col-sm col-form-label">Fornecedor 2: </label>
                                <select asp-for="id_fornecedor2" class="form-control" asp-items="@ViewBag.fornecedor2"></select>
                                <div class="form-text">O fornecedor escolhido será a 2º opção.</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor3" class="col-sm col-form-label">Fornecedor 3:</label>
                                <select asp-for="id_fornecedor3" class="form-control" asp-items="@ViewBag.fornecedor3"></select>
                                <div class="form-text">O fornecedor escolhido será a 3º opção.</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_setor" class="col-sm col-form-label">Setor Solicitante:</label>
                            <select asp-for="id_setor" class="form-control" asp-items="@ViewBag.setor"></select>
                        </div>
                    </div>
                    <br>

                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_formaPagamento" class="col-sm col-form-label">Forma de Pagamento:</label>
                            <select asp-for="id_formaPagamento" class="form-control" asp-items="@ViewBag.formaPagamento"></select>
                        </div>
                    </div>
                    <br>


                    <div class="form-group">
                        <label for="anexo" class="form-label">Anexar arquivo:</label>
                        <input class="form-control" type="file" id="anexoFile" name="anexoFile">
                    </div>
                    <br />
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary" name="submit" value="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () 
        {
            // Select das moedas
            $('#moedaSelect').change(function () {
                var simbolo = $(this).find('option:selected').data('simbolo');
                $('#moedaSimbolo').text(simbolo);
            });
            // Fim - Select das moedas

            // Criação de itens
            var itemIndex = 0;
            document.getElementById('btnAdicionarItem').addEventListener('click', function () {
                var ordemCompraItems = document.getElementById('itensContainer');

                var itemRow = document.createElement('div');
                itemRow.id = "itemRow" + itemIndex;
                itemRow.classList.add("row"); 

                var colItemInput = document.createElement('div');
                colItemInput.classList.add("col-sm-4");
                var labelItem = document.createElement('label');
                labelItem.htmlFor = 'items[' + itemIndex + '].item';
                labelItem.textContent = 'Item:';
                var itemInput = document.createElement('input');
                itemInput.id = 'items[' + itemIndex + '].item';
                itemInput.name = 'Itens[' + itemIndex + '].item';
                itemInput.classList.add("form-control"); 
                colItemInput.appendChild(labelItem);
                colItemInput.appendChild(itemInput);
                itemRow.appendChild(colItemInput);

                var colQuantidadeInput = document.createElement('div');
                colQuantidadeInput.classList.add("col-sm-4");
                var labelQuantidade = document.createElement('label');
                labelQuantidade.htmlFor = 'items[' + itemIndex + '].quantidade';
                labelQuantidade.textContent = 'Quantidade:';
                var quantidadeInput = document.createElement('input');
                quantidadeInput.id = 'items[' + itemIndex + '].quantidade';
                quantidadeInput.name = 'Itens[' + itemIndex + '].quantidade';
                quantidadeInput.type = 'number';
                quantidadeInput.classList.add("form-control"); 
                colQuantidadeInput.appendChild(labelQuantidade);
                colQuantidadeInput.appendChild(quantidadeInput);
                itemRow.appendChild(colQuantidadeInput);

                var colValorInput = document.createElement('div');
                colValorInput.classList.add("col-sm-4");
                var labelValor = document.createElement('label');
                labelValor.htmlFor = 'items[' + itemIndex + '].valor';
                labelValor.textContent = 'Valor:';
                var valorInput = document.createElement('input');
                valorInput.id = 'items[' + itemIndex + '].valor';
                valorInput.name = 'Itens[' + itemIndex + '].valor';
                valorInput.classList.add("form-control"); 
                colValorInput.appendChild(labelValor);
                colValorInput.appendChild(valorInput);
                itemRow.appendChild(colValorInput);
                
                ordemCompraItems.appendChild(itemRow);
                itemIndex++; 

                calcularTotal();
            });
            // Fim - Criação de itens

            $('#itensContainer').on('input', 'input[id$=".quantidade"], input[id$=".valor"]', function () {
                calcularTotal();
            });

            // Função para calcular o total
            function calcularTotal() 
            {
                var total = 0;
                // Percorrer cada item e calcular o subtotal
                $('.row[id^="itemRow"]').each(function () {
                    var index = $(this).attr('id').replace('itemRow', '');
                    var quantidade = parseInt($('#items\\[' + index + '\\]\\.quantidade').val()) || 0;
                    var valorUnitario = parseFloat($('#items\\[' + index + '\\]\\.valor').val().replace(',', '.')) || 0;
                    var subtotal = quantidade * valorUnitario;
                    $('#subtotal_' + index).text(subtotal.toFixed(2).replace('.', ','));
                    total += subtotal;
                });

                // Exibir o total
                $('#displayTotal').text(total.toFixed(2).replace('.', ','));

                // Setar o total ao campo hidden
                $('#total').val(total.toFixed(2).replace('.', ','));
            }
            // Fim - Função para calcular o total

        });
    </script>
}