@model OffshoreTrack.Models.OrdemCompra

@{
    ViewData["Title"] = "Read";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4 ">Visualização: Ordem de Compra</h1>
        </div>
        <div class="col-md-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="OrdemCompra" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label asp-for="id_oc" class="col-sm col-form-label">ID:</label>
                                <p class="form-control" readonly>@Model.id_oc</p>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <label for="inputText" class="col-sm col-form-label">Ordem de Compra:</label>
                            <input type="text" class="form-control" id="oc" name="oc" asp-for="oc" readonly/>
                            <br />
                        </div>
                        <div class="col-sm-3 print_rel">
                            <div class="form-group">
                                <label asp-for="prioridade" class="col-sm col-form-label">Prioridade:</label>
                                <p class="form-control" readonly>@Model.prioridade</p>
                            </div>
                        </div>
                    </div>
                    <div class="row col-sm-12">
                        <div class="col print_oc print_rel">
                            <label for="inputText" class="col-sm col-form-label">Observação:</label>
                            <textarea type="text" rows="3" class="form-control" id="observacao" name="observacao" asp-for="observacao" readonly></textarea>
                        </div>
                    </div>
                    <div class="row print_rel">
                        <br>
                        <div class="col print_oc">
                            <label for="inputText" class="col-sm col-form-label">Data:</label>
                            <input type="date" class="form-control" id="data_oc" name="data_oc" asp-for="data_oc" readonly/>
                        </div>
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Data prevista:</label>
                            <input type="date" class="form-control" id="data_prevista" name="data_prevista" asp-for="data_prevista" readonly/>
                        </div>
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Data de Conclusão da OC:</label>
                            @if (Model.data_conclusao == null)
                            {
                                <h5><span class="badge bg-danger">Pendente</span></h5>
                            }
                            else
                            {
                                <input type="date" class="form-control" id="data_conclusao" name="data_conclusao" asp-for="data_conclusao" value="@Model.data_conclusao" readonly/>
                            }
                        </div>
                    </div>

                    <hr>

                    <h5 class="print_oc print_rel col-sm-12">Itens</h5>
                    <br class="">
                    <div class="row print_oc print_rel">
                        <div class="container">
                            <table class="table table-bordered border-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Item</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Itens)
                                    {
                                        <tr>
                                            <td>@item.item</td>
                                            <td>@item.quantidade</td>
                                            <td> @item.moeda.simbolo   @item.valor</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <h5>Total: </h5>
                                <p id="moedaSimbolo">@Model.moeda.simbolo</p><p>@Model.total</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="print_rel">
                    <h5 class="col-sm-12">Fornecedores</h5>
                    <div class="row ">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor" class="col-sm col-form-label">Fornecedor Principal:</label>
                                <p class="form-control" readonly>@Html.DisplayFor(model => model.fornecedor.fornecedor)</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor2" class="col-sm col-form-label">Fornecedor 2:</label>
                                <p class="form-control" readonly>@Html.DisplayFor(model => model.fornecedor2.fornecedor)</p>
                            </div>
                        </div>
                        <div class="col ">
                            <div class="form-group">
                                <label asp-for="id_fornecedor3" class="col-sm col-form-label">Fornecedor 3:</label>
                                <p class="form-control" readonly>@Html.DisplayFor(model => model.fornecedor3.fornecedor)</p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col print_oc">
                        <div class="form-group">
                            <label asp-for="id_formaPagamento" class="col-sm col-form-label">Forma de Pagamento:</label>
                            <p class="form-control" readonly>@Model.formaPagamento?.formaPagamento</p>
                        </div>
                    </div>
                    <br>


                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_setor" class="col-sm col-form-label">Setor Solicitante:</label>
                            <p class="form-control" readonly>@Html.DisplayFor(model => model.setor.setor)</p>
                        </div>
                    </div>
                </div>

                    <div class="col">
                        <label asp-for="anexo" class="col-form-label">Anexos:</label>
                        @if(Model.anexo != null && Model.anexo.Length > 0)
                        {
                            <a class="btn btn-secondary" href="@Url.Action("DownloadAnexo", "OrdemCompra", new { id = Model.id_oc })">Baixar Anexo</a>
                            <br class="">

                        }
                        else
                        {
                            <p>Sem Anexo</p>
                        }
                    </div>
                <br />

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-primary" onclick="printRel()">Imprimir Relatório</button>
                    <button class="btn btn-primary" onclick="printOC()">Imprimir Ordem de Compra</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

<script type="text/javascript">
function printOC() {
    // Encontra os elementos para impressão
    var elementsToPrint = document.getElementsByClassName('print_oc');
    
    // Cria uma nova janela
    var printWindow = window.open('', '_blank');
    
    // Adiciona os elementos para a nova janela
    for (var i = 0; i < elementsToPrint.length; i++) {
        printWindow.document.write(elementsToPrint[i].outerHTML);
    }
    
    // Adiciona estilos CSS para a nova janela
    printWindow.document.write('<style>body{font-family:Arial,sans-serif;margin:0;padding:0;width:100%;}.col{flex-basis:0;flex-grow:1;max-width:100%;}.col-sm{flex:0 0 auto;width:auto;}.col-sm-2{flex:0 0 16.666667%;max-width:16.666667%;}.col-sm-3{flex:0 0 25%;max-width:25%;}.col-sm-5{flex:0 0 41.666667%;max-width:41.666667%;}.col-sm-6{flex:0 0 50%;max-width:50%;}.table{width:100%;margin-bottom:1rem;color:#212529;border-collapse:collapse;}.table-bordered{border:1px solid #dee2e6;}.table-bordered td,.table-bordered th{border:1px solid #dee2e6;}strong{font-weight:bold;}.text-end{text-align:end;}.form-control{display:block;width:100%;padding:0;font-size:1rem;line-height:1.5;color:#000;background-color:#fff;background-clip:padding-box;border:1px solid #000;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}h4,h5{font-size: 15px; margin-top:0.5em;margin-bottom:0.5em;}.bg-danger{background-color:#dc3545!important;}.col, .col-sm, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6, .col-sm-12 {position: relative;width: 100%;padding-right: 15px;padding-left: 15px;}.row {display: flex;flex-wrap: wrap;margin-right: 0;margin-left: 0;} .col.print_oc, .col {margin: 0;}.col.print_oc .form-control, .col .form-control {padding: 0;}</style>');

    // Imprime a nova janela
    printWindow.document.close();
    printWindow.print();
}

function printRel() {
    // Encontra os elementos para impressão
    var elementsToPrint = document.getElementsByClassName('print_rel');
    
    // Cria uma nova janela
    var printWindow = window.open('', '_blank');
    
    // Adiciona os elementos para a nova janela
    for (var i = 0; i < elementsToPrint.length; i++) {
        printWindow.document.write(elementsToPrint[i].outerHTML);
    }
    
    // Adiciona estilos CSS para a nova janela
    printWindow.document.write('<style>body{font-family:Arial,sans-serif;margin:0;padding:0;width:100%;}.col{flex-basis:0;flex-grow:1;max-width:100%;}.col-sm{flex:0 0 auto;width:auto;}.col-sm-2{flex:0 0 16.666667%;max-width:16.666667%;}.col-sm-3{flex:0 0 25%;max-width:25%;}.col-sm-5{flex:0 0 41.666667%;max-width:41.666667%;}.col-sm-6{flex:0 0 50%;max-width:50%;}.table{width:100%;margin-bottom:1rem;color:#212529;border-collapse:collapse;}.table-bordered{border:1px solid #dee2e6;}.table-bordered td,.table-bordered th{border:1px solid #dee2e6;}strong{font-weight:bold;}.text-end{text-align:end;}.form-control{display:block;width:100%;padding:0;font-size:1rem;line-height:1.5;color:#000;background-color:#fff;background-clip:padding-box;border:1px solid #000;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}h4,h5{font-size: 15px; margin-top:0.5em;margin-bottom:0.5em;}.bg-danger{background-color:#dc3545!important;}.col, .col-sm, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6, .col-sm-12 {position: relative;width: 100%;padding-right: 15px;padding-left: 15px;}.row {display: flex;flex-wrap: wrap;margin-right: 0;margin-left: 0;} .col.print_oc, .col {margin: 0;}.col.print_oc .form-control, .col .form-control {padding: 0;}</style>');

    // Imprime a nova janela
    printWindow.document.close();
    printWindow.print();
}

</script>
   
}