@model OffshoreTrack.Models.OrdemCompra

@{
    ViewData["Title"] = "Read";
}

<div class="pagetitle print-hide">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4 ">Visualização: Ordem de Compra</h1>
        </div>
        <div class="col-md-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="OrdemCompra" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">

                <!-- Incluir o Cabeçalho de Impressão -->
                @if (Context.Request.Query["print"] == "true")
                {
                    @Html.Partial("PrintOC", Model.empresa)
                }
                <!-- Fim - Incluir o Cabeçalho de Impressão -->

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label asp-for="id_oc" class="col-sm col-form-label">ID:</label>
                                <p class="form-control" readonly>@Model.id_oc</p>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <label for="inputText" class="col-sm col-form-label">Ordem de Compra:</label>
                            <input type="text" class="form-control" id="oc" name="oc" asp-for="oc" readonly/>
                            <br />
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="prioridade" class="col-sm col-form-label">Prioridade:</label>
                                <p class="form-control" readonly>@Model.prioridade</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Observação:</label>
                            <textarea type="text" rows="3" class="form-control" id="observacao" name="observacao" asp-for="observacao" readonly></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Data:</label>
                            <input type="date" class="form-control" id="data_oc" name="data_oc" asp-for="data_oc" readonly/>
                        </div>
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Data prevista:</label>
                            <input type="date" class="form-control" id="data_prevista" name="data_prevista" asp-for="data_prevista" readonly/>
                        </div>
                        <div class="col">
                            <label for="inputText" class="col-sm col-form-label">Data de Conclusão da OC:</label>
                            @if (Model.data_conclusao == null)
                            {
                                <h5><span class="badge bg-danger">Pendente</span></h5>
                            }
                            else
                            {
                                <input type="date" class="form-control" id="data_conclusao" name="data_conclusao" asp-for="data_conclusao" value="@Model.data_conclusao" readonly/>
                            }
                        </div>

                    </div>
                    <hr>
                    <h5>Itens</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="inputText" class="col-sm col-form-label">Item 1:</label>
                            <input type="text" class="form-control" id="item1" name="item1" asp-for="item1" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Quantidade:</label>
                            <input type="text" class="form-control" id="quantidade1" name="quantidade1" asp-for="quantidade1" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Valor:</label>
                            <input type="text" class="form-control valor" id="valor1" name="valor1" asp-for="valor1" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="inputText" class="col-sm col-form-label">Item 2:</label>
                            <input type="text" class="form-control" id="item2" name="item2" asp-for="item2" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Quantidade:</label>
                            <input type="text" class="form-control" id="quantidade2" name="quantidade2" asp-for="quantidade2" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Valor:</label>
                            <input type="text" class="form-control valor" id="valor2" name="valor2" asp-for="valor2" readonly/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="inputText" class="col-sm col-form-label">Item 3:</label>
                            <input type="text" class="form-control" id="item3" name="item3" asp-for="item3" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Quantidade:</label>
                            <input type="text" class="form-control" id="quantidade3" name="quantidade3" asp-for="quantidade3" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Valor:</label>
                            <input type="text" class="form-control valor" id="valor3" name="valor3" asp-for="valor3" readonly/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="inputText" class="col-sm col-form-label">Item 4:</label>
                            <input type="text" class="form-control" id="item4" name="item4" asp-for="item4" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Quantidade:</label>
                            <input type="text" class="form-control" id="quantidade4" name="quantidade4" asp-for="quantidade4" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Valor:</label>
                            <input type="text" class="form-control valor" id="valor4" name="valor4" asp-for="valor4" readonly/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="inputText" class="col-sm col-form-label">Item 5:</label>
                            <input type="text" class="form-control" id="item5" name="item5" asp-for="item5" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Quantidade:</label>
                            <input type="text" class="form-control" id="quantidade5" name="quantidade5" asp-for="quantidade5" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="inputText" class="col-sm col-form-label">Valor:</label>
                            <input type="text" class="form-control valor" id="valor5" name="valor5" asp-for="valor5" readonly/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <h5 class="text-end"><strong>Total:</strong> R$ @Model.TotalValor</h5>
                    </div>
                    <hr>
                    @if (Model.rateio != null)
                    {
                        <h5>Rateio</h5>
                        <label asp-for="id_rateio" class="col-sm col-form-label">Rateio:</label>
                        <p class="form-control" readonly>@Html.DisplayFor(model => model.rateio.rateio)</p>

                        <div class="row">
                            <div class="col-sm-2">Rateio 1:</div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <strong>Porcentagem do Rateio 1:</strong><p>@Model.rateio.porcentagem1</p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control rateio1">R$ @Model.TotalComRateio1</p>
                            </div>
                        </div>

                        <div class="row">   
                            <div class="col-sm-2">Rateio 2:</div>

                            <div class="col-sm-5">
                                <div class="form-group">
                                    <strong>Porcentagem do Rateio 2:</strong><p>@Model.rateio.porcentagem2</p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <p class="form-control rateio1">R$ @Model.TotalComRateio2</p>
                            </div>
                        </div>
                    <hr>    
                    }

                    <h5>Fornecedor</h5>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="id_fornecedor" class="col-sm col-form-label">Fornecedor Principal:</label>
                                <p class="form-control" readonly>@Html.DisplayFor(model => model.fornecedor.fornecedor)</p>
                            </div>
                        </div>
                        <div class="col print-hide">
                            <div class="form-group">
                                <label asp-for="id_fornecedor2" class="col-sm col-form-label">Fornecedor 2:</label>
                                <p class="form-control" readonly>@Html.DisplayFor(model => model.fornecedor2.fornecedor)</p>
                            </div>
                        </div>
                        <div class="col print-hide">
                            <div class="form-group">
                                <label asp-for="id_fornecedor3" class="col-sm col-form-label">Fornecedor 3:</label>
                                <p class="form-control" readonly>@Html.DisplayFor(model => model.fornecedor3.fornecedor)</p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_setor" class="col-sm col-form-label">Setor Solicitante:</label>
                            <p class="form-control" readonly>@Html.DisplayFor(model => model.setor.setor)</p>
                        </div>
                    </div>


                    <div class="col">
                        <label asp-for="anexo" class="col-form-label">Anexos:</label>
                        @if(Model.anexo != null && Model.anexo.Length > 0)
                        {
                            <a class="btn btn-secondary" href="@Url.Action("DownloadAnexo", "OrdemCompra", new { id = Model.id_oc })">Baixar Anexo</a>
                            <br>
                        }
                        else
                        {
                            <p>Sem Anexo</p>
                        }
                    </div>
                <br /> 
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-secondary">Download da Ordem de Compra</button>
                    <button class="btn btn-outline-secondary" onclick=" window.print();">Imprimir Ordem de Compra</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

<script type="text/javascript">

</script>
   
}
