usingMicrosoft.AspNetCore.Mvc;
usingSystem;
usingSystem.Data;
usingSystem.Reflection.Emit;
usingSystem.Xml.Linq;

@model OffshoreTrack.Models.Manutencao

@{
ViewData["Title"]="Edit";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Editar: Manutenção</h1>
        </div>

        <div class="col-md-6">
            <div class="d-grid gap-2d-md-flex justify-content-md-end">
                <a class="btn btn-primary"role="button"asp-area=""asp-controller="Manutencao"asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form method="post" action="/Manutencao/Update">
                    <input type="hidden" asp-for="id_manutencao" />

                    <label for="inputText" class="col-smcol-form-label">Manutenção:</label>
                    <input type="text" class="form-control" id="manutencao" asp-for="manutencao" />
                    <br/>

                    <label for="inputText" class="col-smcol-form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" asp-for="descricao" />
                    <br/>

                    <div class="form-group">
                        <label asp-for="id_tipo" class="col-sm col-form-label">Tipo:</label>
                        <select asp-for="id_tipo" class="form-control" asp-items="@ViewBag.tipo"></select>
                        <span asp-validation-for="id_tipo" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_material" class="col-sm col-form-label">Material:</label>
                        <select asp-for="id_material" class="form-control" asp-items="@ViewBag.material"></select>
                        <span asp-validation-for="id_material" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_setor" class="col-sm col-form-label">Setor:</label>
                        <select asp-for="id_setor" class="form-control" asp-items="@ViewBag.setor"></select>
                        <span asp-validation-for="id_setor" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_fornecedor" class="col-sm col-form-label">Fornecedor:</label>
                        <select asp-for="id_fornecedor" class="form-control" asp-items="@ViewBag.fornecedor"></select>
                        <span asp-validation-for="id_fornecedor" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label asp-for="id_criticidade" class="col-sm col-form-label">Criticiddade:</label>
                        <select asp-for="id_criticidade" class="form-control" asp-items="@ViewBag.criticidade"></select>
                        <span asp-validation-for="id_criticidade" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="d-gridgap-2d-md-flexjustify-content-md-end">
                        <button type="submit" class="btnbtn-primary" name="submit" value="submit">Atualizar</button>
                </form>
                <form method="post"action="/Manutencao/Delete">
                    <input type="hidden"asp-for="id_manutencao"/>
                    <button type="submit"class="btn btn-danger">Deletar</button>
                </form>
                    </div>
        </div>
    </div>
</div>

