@model OffshoreTrack.Models.Manutencao

@{
    ViewData["Title"] = "Read";
}

<div class="pagetitle">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Visualização: Manutenção</h1>
        </div>
        <div class="col-md-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Manutencao" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label asp-for="manutencao" class="col-form-label">Manutenção:</label>
                            <input type="text" class="form-control" asp-for="manutencao" readonly>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-form-label">Status:</label>
                        <p class="form-control" readonly>@(Model.status != null ? Html.DisplayFor(model => model.status.status) : "")</p>

                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="descricao" class="col-form-label">Descrição:</label>
                    <textarea class="form-control" rows="3" asp-for="descricao" readonly></textarea>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="data" class="col-form-label">Data:</label>
                            <input type="date" class="form-control" asp-for="data" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="data_prevista" class="col-form-label">Data Prevista:</label>
                            <input type="date" class="form-control" asp-for="data_prevista" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="data_conclusao" class="col-form-label">Data Conclusão:</label>
                            <input type="date" class="form-control" asp-for="data_conclusao" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Material:</label>
                    <p class="form-control" readonly>@(Model.material != null ? Html.DisplayFor(model => model.material.material) : "")</p>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_tipo" class="col-form-label">Tipo:</label>
                            <p class="form-control" readonly>@(Model.tipo != null ? Html.DisplayFor(model => model.tipo.tipo) : "")</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_setor" class="col-form-label">Setor:</label>
                            <p class="form-control" readonly>@(Model.setor != null ? Html.DisplayFor(model => model.setor.setor) : "")</p>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_fornecedor" class="col-form-label">Fornecedor:</label>
                            <p class="form-control" readonly>@(Model.fornecedor != null ? Html.DisplayFor(model => model.fornecedor.fornecedor) : "")</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="id_criticidade" class="col-form-label">Criticidade:</label>
                            <p class="form-control" readonly>@(Model.criticidade != null ? Html.DisplayFor(model => model.criticidade.criticidade) : "")</p>
                        </div>
                    </div>
                </div>
                
                
                <label for="anexo" class="form-label">Anexo:</label>
                @if(Model.anexo != null && Model.anexo.Length > 0)
                {
                    <a class="btn btn-secondary" href="@Url.Action("DownloadAnexo", "Manutencao", new { id = Model.id_manutencao })">Baixar Anexo</a>
                    <br>
                }
                else
                {
                    <p>Sem Anexo</p>
                }
                <br />
            </div>
        </div>
    </div>
</div>
